html {  /* шрифт */
    font-size: 12px;
    font-family: 'Comfortaa', cursive;
    background-color: #00539F;
}
h1 {
    margin: 0;
    font-size: 40px;
    text-align: center;
    padding: 20px 0;
    color:#00539F;
    text-shadow: 3px 3px 1px black;
}
p,li {
    font-size: 16px;
}
body {
    background-color: #FF9500;
    width: 600px;
    padding: 0px 20px 20px 20px;
    border: 5px solid aquamarine;
    margin: 0 auto;
}
img {
    display: block;
    margin: 0 auto;
}